.layout_sider {
    overflow-y: auto;
    overflow-x: auto;
    padding-bottom: 40px;
    height: 100%;
}

.header {
    padding: 0 10px !important;
}

.logo {
    background: transparent url('/assets/spider.jpeg') no-repeat no-repeat left center;
    background-size: contain;
    height: 60px;
    margin: 2px auto;
    width: 200px;
}

.menu_footer {
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.silder {
    background-color: transparent;
    border-right: 1px solid #e5e5e5;
     :global {
        .ant-layout-sider-children {
            height: 100%;
        }
    }
}