
.room-show {
    width: 85%;
    height: 340px;
    perspective-origin: 50% 50%;
    zoom: 0.95;
    margin-left: 40px;
    perspective: 100px;
    transform-style: preserve-3d;

    .wall-info{
        position: absolute;
        display: inline-block;
        border: 1px solid rgba(66, 62, 62, 0.53);
        color: rgba(140, 140, 140, 0.74);
        font-size: 12px;
        line-height: 150px;
        text-align: center;
        background: rgba(255, 255, 255, 0.6);
    }

    .is-selected{
        background-color: rgba(57, 193, 248, 0.55) !important;
    }

    .is-front{
        width: 60%;
        height: 30%;
        background: rgba(45, 80, 120, 0.19);
        top: 16px;
        left: 20%;
        border: none;
        transform: rotateX(-108deg);
    }

    .is-back{
        bottom: 51px;
        height: 30%;
        width: 60%;
        left: 20%;
        border: none;
        transform: rotateX(102deg);
        background: rgba(42, 85, 119, 0.33);
    }

    .is-right{
        right: 8px;
        width: 25%;
        height: 56%;
        top: 16%;
        transform: rotatey(-62deg);
    }

    .is-left{
        top: 16%;
        width: 25%;
        height: 56%;
        left: 2%;
        transform: rotateY(62deg);
    }
    .is-floor{
        width: 40%;
        top: 27%;
        height: 39%;
        background: rgba(255, 255, 255, 0.53);
        left: 30%;
        border: none;
        /* transform: rotateX(115deg); */
    }
}
